*{
box-sizing: border-box;
}

body{
background-color: beige;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
color: #9C889E;
line-height: 1.5;
font-size: 24px;
}

h1,
h2,
h3,
h4{
    font-weight: 700;
    margin: 0;
    color: black;
    line-height: 1.25;
}

main{
    margin: 20px auto;
    width: 95%;
}

p {
    font-size: 1.2rem;
    font-weight: 700;
}

.btn {
    font-size: 1.3rem;
    text-decoration: underline;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: 5%;
    color: #9C889E;
    background-color: whitesmoke;
    box-shadow: 3px 3px rgba(0, 0,0, 0);
    transform:translate(-1px,-1px);
}

.btn:hover{
    color: black;
    background-color: white;
    transform: translate(0,0);
    box-shadow: 2px 2px rgba(0, 0,0, 0);
}

.hero {
    padding: 3% 4%;
    background-color: whitesmoke;
}

.app-title{
    font-size: 3rem;
    background-color: #9C889E;
    border-radius: 5%;
}

.list-group{
    padding: 0;
    list-style: none;
}

.list-item{
    margin-bottom: 10px;
    padding: 1.25%;
    border-radius: whitesmoke;
    background-color: #9C889E;
    color: black;
    text-decoration: none;
}

.list-item:hover{
    background: whitesmoke;
}

.card-header{
    color: whitesmoke;
    background-color: #9C889E;
    padding: 2.5%;
    border-radius: 40px ;
}

.currentCity{
    color: whitesmoke;
    background-color: #9C889E;
    padding: 2.5%;
    border-radius: 10px ;
}
